<!DOCTYPE html>
<html ng-app="salariesCalcApp">
<head>
<meta charset="UTF-8">
<title>Kalkulator wynagrodzeń</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div ng-controller="MainCtrl as ctrl" class="container-fluid">
		<fieldset>
			<h3>Kalkulator wynagrodzeń</h3>
			<label for="dailySalaryInput">Dzienna stawka:</label>
			<input id="dailySalaryInput" type="number" min="0" class="form-control" placeholder="Dzienna stawka" ng-model="ctrl.data.givenSalary">
			
			<p>
				<label for="countrySelect">Kraj:</label>
				<select id="countrySelect" ng-model="ctrl.data.country" ng-change="ctrl.countSalary()">
					<option ng-repeat="option in ctrl.data.countries" value="{{option.code}}">{{option.name}}</option>
				</select>
			</p>
			
			<p>
				<button ng-click="ctrl.countSalary()" class="btn">Oblicz miesięczny zarobek netto</button>
			</p>
			
			<p>Wynik: {{ctrl.data.resultSalary}} {{ctrl.data.resultCurrency}}</p>
		</fieldset>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/salariesCtrl.js"></script>
	<script type="text/javascript" src="js/services/dataService.js"></script>
	<script type="text/javascript" src="js/services/api.js"></script>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>